# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Blender
*.blend1
*.blend2

#Folders
.plans/
.guides/
.claude/
.plans/

#zip files
*.zip

